main.aux
main.log
main.blg
main.bcf
main.bbl
main.fls
main.out
main.toc
main.synctex.gz
main.run.xml
main.fdb_latexmk
main.bbl-SAVE-ERROR
.DS_Store
main.bcf*
*.aux
*.log
*.synctex*
old.pdf


# But don't ignore this specific one
!hebrew_toc.toc
